<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.sayint.ai/" target="_blank">Sayint.ai</a> building things for the Conversation AI Platform. I graduated from
      <a class="underline-link" href="https://iiitdwd.ac.in/" target="_blank">Indian Institute of Information Technology Dharwad</a> after completing three awesome co-ops at
      <a class="underline-link" href="https://www.mbrdi.co.in/" target="_blank">Mercedes Benz</a>,
      <a class="underline-link" href="https://ee.iitd.ac.in/" target="_blank">IIT Delhi</a>, and
      <a class="underline-link" href="" target="_blank">Sandbox Startups</a>.
    </p>

    <p>
      As a ML software engineer, I enjoy bridging the gap between engineering and product dev &mdash; combining my technical knowledge
      with my keen interest for product development. My goal is to always build applications that are scalable
      and efficient under the hood.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading books, travelling around,
      or listening to music.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
